<div class="jumbotron">
<h1>ABOUT PAGE</h1>
</div>

<div class="well center">
    <h1>This page is a under development so sorry for all missing details</h1>
    <%= link_to 'Home', root_path, class: "btn btn-success btn-lg btn-xlarge" %>
</div>

