<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
     <% flash.each do |name, msg| %>
       <div class='alert alert-<%="#{name}" %>'>
         <!--tak toto je pekne podla toho ako mas name -->
         <!--danger, succsess tak vlezes do classu pomocu ruby -->
         <!--fakt pekne -->
         <a href="#" class="close" data-dismiss="alert">&#215;</a>
           <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
           <!--vkladame male x aby sa to dalo zatvorit -->
        </div>
   <% end %>
  </div>
</div>  